*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Open Sans"; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #EA246F; }

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #EA246F;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-secondary {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #7E7E7E;
  letter-spacing: 2px; }

.button, .button:visited, .button:link {
  font-size: 1.6rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  background: transparent;
  padding: 1.2rem;
  color: #EA246F;
  display: inline-block;
  float: right;
  margin-top: 3rem;
  margin-left: 1rem;
  outline: none; }

.button:active, .button:hover {
  background: transparent;
  outline: none;
  color: #ddd;
  cursor: pointer; }

.form__input, .form__textarea {
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-bottom: 1.5px solid #7E7E7E;
  padding: 1.2rem 2rem 1.2rem 0;
  background-color: transparent;
  display: block;
  text-transform: uppercase;
  transition: border-bottom-color .1s ease-in-out; }

.form__input:focus, .form__textarea:focus {
  outline: none;
  border-bottom-color: #ddd;
  color: #ddd; }

.form {
  min-height: 50%;
  position: relative; }
  .form__input {
    margin-bottom: 1rem; }
    .form__input:not(:focus) {
      color: #e6e6e6; }
  .form__textarea {
    min-height: 50%;
    min-width: 100%;
    resize: none; }
    .form__textarea:not(:focus) {
      color: #e6e6e6; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.content {
  width: 70vw;
  height: 80vh;
  background-color: #3E3E3E;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .content__left-side {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .content__left-side {
        width: 70%;
        flex-flow: row;
        flex-wrap: wrap; } }
    .content__left-side span {
      display: block; }
      @media only screen and (max-width: 600px) {
        .content__left-side span {
          display: inline-block; } }
      .content__left-side span:last-child {
        border-bottom: 3px solid #EA246F;
        padding-bottom: 2px;
        width: 4rem; }
  .content__right_side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
