.button{

  font-size: 1.6rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1.2rem;
  color:#EA246F;
  display: inline-block;
  float: right;
  margin-top: 3rem;





}