$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px



*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Open Sans";
  
  @media only screen and (max-width: $bp-medium) {
    font-size:50%;
    
  }
}

body{

  background-color: #EA246F;

}