.heading-primary{
  font-size: 3.5rem;
  text-transform:uppercase;
  color: #EA246F;
  letter-spacing: .2rem;
}

.heading-secondary{
  font-size: .9rem;
  font-weight: 700;
  text-transform:uppercase;
  color: #7E7E7E;
  letter-spacing: 2px

}